body{
    background-color: black;
    margin: 0;
    overflow-y: hidden;
}

@font-face {
    font-family: 'heading';
    src: url(Fonts/logofont.otf);
}

@font-face {
    font-family: 'bodytext';
    src: url(Fonts/subtextfont.ttf );
}

h1{
    -webkit-text-stroke: 2px rgb(102, 102, 102);
    font-family: 'heading';
    color: black;
    width: min-content;
    rotate: 270deg;
    font-size: 13em;
    margin-top: 8%;
    line-height: -2.5em;
    float: left;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    flex-wrap: wrap;
    row-gap: 1em;
    column-gap: 5em;
    font-family: 'bodytext';
    color: white;
}

.info div{
    height: 45%;
    width: 40%;
    background-color: rgb(44, 44, 44);
    border-radius: 10px;
}

h2{
    font-size: 2em;
    text-align: center;
}

h3{
    font-size: 1em;
    text-align: center;
    color: rgb(185, 185, 185);
    line-height: 1.5em;
    letter-spacing: 0.01em;
    padding: 5px;
}









































/* #motive{
    height: 40%;
    width: 25%;
    background-color: rgb(100, 100, 100);
}

#collection{
    height: 40%;
    width: 25%;
    background-color: rgb(100, 100, 100);
}

#motive{
    height: 40%;
    width: 25%;
    background-color: rgb(100, 100, 100);
}

#motive{
    height: 40%;
    width: 25%;
    background-color: rgb(100, 100, 100);
} */